<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>
<p>
  <td><%= button_to "Add To cart", method: "post", controller: 'orders', action: "create",
                                      data: { product_id: @product.id, quantity: 1 } %></td>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
