<!DOCTYPE html>
<html>
<head>
  <title>Schlamazon dot brahm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class=main>
  <h1>Schlamazon</h1>
      <%= react_component("Navigation") %>
  </header>
<body>
<div class="container">
      <%= yield %>
</div>

</body>
</html>
